{% extends "global/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <h1>Login</h1>
        {% if user.is_authenticated %}
                    <p>You are logged as {{ user }} ({{ user.first_name }} {{ user.last_name}}).</p> 
                    Click <a href="{% url "user_profile:update" %}">here</a> to update your profile or go to your <a href="{% url "product:cart" %}">cart</a>.
                    <p></p>
                    <a href="{% url "user_profile:logout" %}" class="btn btn-medium btn-black">Logout</a>
        {% else %}
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form login_form %}
                        {% buttons %}
                            <button class="btn btn-medium btn-black">Login</button>
                        {% endbuttons %}
                    </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center">
                <p>Don't have an account?</p>
                <a href="{% url "user_profile:create" %}" class="btn btn-medium btn-black">Create your account</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}