{% extends "global/base.html" %}
{% load custom_tags %}

{% block content %}
{% if cart %}
    {% include "global/partials/_cart.html" %}
    <main class="container mt-4 mb-4">   
        <div class="col-lg mt-auto">
            <a href="{% url "cart:cartdetail" %}" class="btn btn-medium btn-black">Proceed to checkout</a>
        </div>
    </main>
        
{% else %}
    <main class="container mt-4 mb-4">
        <div class="row mt-3">
            <div class="col">
                <h3>Shopping Cart</h3>
                <p class="lead">Your cart is empty!</p>
            </div>
        </div>
    </main>
{% endif %}
{% endblock content %}